
/*Colours*/

/*background colors*/
$gradient-left: #808080;
$gradient-right: #E6E6E6;
$section-skill-background: #ef9a9a;
$section-about-background: #eef2f3;
$section-contact-background: #fff;

/*font colors*/
$home-section-font-color: #222;
 

/* button colours */
$btn-colour-one: $gradient-left;
$btn-colour-two: #D4145A;

/* cards */



$almostWhite: #fff;
$veryLightGray: #eef2f3;
$lightGray: #E6E6E6;
$darkGray: #4d4d4d;
$accentColour: #ef5350;
$lightRed: #ef9a9a;
$almostBlack: #222222;
$contact-background: #F48989;
$formLabelColor: #9e9e9e;

/*Font-sizes*/
$fontSizeSmall: 2rem;
$fontSizeLarge: 1rem;
