
/*Colours*/

/*background colors*/

/*font colors*/

/* button colours */

/* cards */

/*Font-sizes*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body ::-moz-selection {
    background: #ef5350;

}

body ::selection {
    background: #ef5350;

}

.no-scroll {
  overflow: hidden;
}

h1, h3 {
  margin: 0;
}

ul {
  margin: 0;
}

li {
    list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}

p, button, li, h4 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}

@media (min-width: 1010px) {

    p, button, li, h4 {
        font-size: 1.1rem;

    }

}

/*Section title*/

.section-title {
  margin: 3rem 0;
  font-size: 3rem;
  text-align: center;
  color: #4d4d4d;
}

@media (min-width: 1010px) {

    .section-title {
        font-size: 1.75rem;
        margin: 1rem 0;
        width: 100%;

    }

}

/*BUTTONS FOR PROJECT SECTION*/

.card-buttons {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #000;
  text-align: center;

}

.card-buttons .btn-flat{
    height: 60px;
    font-size: 2.5rem;

}

@media (min-width: 530px) {

    .card-buttons .btn-flat {
        height: 50px;
        font-size: 1.75rem;

    }

}

@media (min-width: 768px) {

    .card-buttons .btn-flat {
        height: 40px;
        font-size: 1.4rem;

    }

}

@media (min-width: 1010px) {

    .card-buttons .btn-flat {
        height: 36px;
        font-size: 1.2rem;

    }

}

.card-buttons .btn-demo{
    border: 1px solid #808080;
    color: #808080 !important;
    background: transparent;

}

@media (min-width: 1010px) {

    .card-buttons .btn-demo {
        color: #808080 !important;
        background: transparent;

    }

}

.card-buttons .btn-demo:hover {
    background:#808080;
    color: #fff !important;

}

.card-buttons a.btn-github {
    border: 1px solid #D4145A;
    margin-right: 0 !important;
    padding: 0 1.6rem;
    background: transparent;
    color: #ef5350 !important;

}

@media (min-width: 1010px) {

    .card-buttons a.btn-github {
        color: #D4145A !important;

    }

}

.card-buttons a.btn-github:hover {
    background:#D4145A;
    color: #fff !important;

}

/*BUTTON FOR CONTACT FORM*/

.btn-form-send{
    width: 100%;
    height: 5rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 2rem 0;
    font-size: fontSizeSmall;
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
    background: #fff;
}

.btn-form-send:hover {
    color: #ef5350;
    border-color: #ef5350;

}

.section-contact .btn-form-send:focus {
    background: #fff;

}

@media (min-width: 1010px) {

    .btn-form-send {
        width: 10rem;
        height: 3.4rem;
        font-size: 1rem;
        margin: 0;

    }

}

.form-submitted{
  color: #ef5350;
  border-color: #ef5350;
  cursor: default;
  pointer-events:none;
}

.nav-bar-container{
  margin: 1rem auto;
}

/* ICONS */

.nav-bar-container a:hover path,
  .nav-bar-container a:hover #linkedin-icon{
    fill: #eceff1;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;

}

.nav-bar-container #linkedin-icon{
    fill: #222;

}

.nav-bar-container .icons-container{
    margin-bottom: 1.5rem;

}

.nav-bar-container .icons-container .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.nav-bar-container .icons-container .icons .icon{
    -webkit-transform: scale(4);
            transform: scale(4);

}

@media (min-width: 530px) {

    .nav-bar-container .icons-container .icons .icon {
        -webkit-transform: scale(2);
                transform: scale(2);
        margin: 3rem;

    }

}

@media (min-width: 768px) {

    .nav-bar-container .icons-container .icons .icon {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        margin: 2rem;

    }

}

@media (min-width: 1010px) {

    .nav-bar-container .icons-container .icons .icon {
        -webkit-transform: scale(1);
                transform: scale(1);
        margin: 1rem;

    }

}

.nav-bar-container .nav-bar{
    border-top: 2px solid #222;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.nav-bar-container .nav-bar ul li{
    display: inline-block;
    font-size: 2.2rem;
    margin: 2rem 2rem;
    cursor: pointer;

}

@media (min-width: 530px) {

    .nav-bar-container .nav-bar ul li {
        font-size: 2rem;

    }

}

@media (min-width: 1010px) {

    .nav-bar-container .nav-bar ul li {
        font-size: 1.5rem;

    }

}

.nav-bar-container .nav-bar ul li:after{
    display: block;
    content: '';
    border-bottom: solid 2px #222;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin:  0% 50%;
            transform-origin:  0% 50%;

}

.nav-bar-container .nav-bar ul li:hover{
    cursor: pointer;

}

.nav-bar-container .nav-bar ul li:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);

}

.nav-bar-container .nav-bar ul li:after{
    -webkit-transform-origin:  0% 50%;
            transform-origin:  0% 50%;

}

.nav-bar-container .nav-bar ul a{
    padding: 0;
    color: #222;

}

.section-home {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  


  background: rgba(242,69,69,1);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(230,230,230,1)));
  background: -webkit-linear-gradient(-45deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  background: linear-gradient(135deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24545', endColorstr='#ebc18d', GradientType=1 );
}

@media (min-width: 1010px) {

    .section-home {
        height: 100vh;

    }

}

.section-home canvas {
    display: none;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

}

@media (min-width: 1010px) {

    .section-home canvas {
        display: block;

    }

}

.section-home--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 7;
    height: 100%;

}

@media (min-width: 1010px) {

    .section-home--center {
        margin-top: 0;
        padding: 0 7rem;

    }

}

.section-home .header-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.section-home .header-container .logo {
    width: 200px;
    height: 200px;
    z-index: 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

}

.section-home .header-container h1 {
    color: #222;
    font-size: 3rem;
    z-index: 7;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);

}

@media (min-width: 530px) {

    .section-home .header-container h1 {
        font-size: 3rem;

    }

}

@media (min-width: 768px) {

    .section-home .header-container h1 {
        font-size: 2.6rem;

    }

}

@media (min-width: 1010px) {

    .section-home .header-container h1 {
        font-size: 2.6rem;
        letter-spacing: 4px;

    }

}

.section-home .header-container p {
    color: #222;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1rem;
    z-index: 7;

}

@media (min-width: 530px) {

    .section-home .header-container p {
        font-size: 2.2rem;

    }

}

@media (min-width: 1010px) {

    .section-home .header-container p {
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: $ darkGray;
        letter-spacing: 10px;

    }

}

.section-skills {
  background: #ef9a9a;
  color: #4d4d4d;

}

.section-skills--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;

}

@media (min-width: 2100px) {

    .section-skills--content {
        padding: 3rem 7rem;

    }

}

.section-skills--content ul {
    margin-top: 3rem;
    text-align: center;
    min-width: 330px;

}

.section-skills--content li:first-child{
    font-size: 3rem;

}

@media (min-width: 530px) {

    .section-skills--content li:first-child {
        font-size: 2rem;

    }

}

@media (min-width: 768px) {

    .section-skills--content li:first-child {
        font-size: 2rem;

    }

}

@media (min-width: 1010px) {

    .section-skills--content li:first-child {
        font-size: 1.6rem;

    }

}

.section-skills--content li {
    font-size: 2rem;
    padding: 2px 10px;
    margin: 10px 20px;

}

@media (min-width: 530px) {

    .section-skills--content li {
        font-size: 1.6rem;

    }

}

@media (min-width: 768px) {

    .section-skills--content li {
        font-size: 1.6rem;

    }

}

@media (min-width: 1010px) {

    .section-skills--content li {
        font-size: 1.2rem;

    }

}

.section-skills--content .skills-divider {
    border-bottom: 1px solid #4d4d4d;
    margin: auto auto;
    width: 95%;

}

@media (min-width: 1010px) {

    .section-skills--content .skills-divider {
        width: 85%;

    }

}

.section-projects {
  background: #E6E6E6;
}

.section-projects--content{
    padding: 1rem 0;
    max-width: 1800px;
    width: 90%;

}

@media (min-width: 2100px) {

    .section-projects--content {
        padding: 3rem 7rem;

    }

}

.section-projects--content div{
    padding: 0 0;

}

.section-projects--content .card {
    margin: 2.5rem 2rem;
    min-height: 470px;
    min-width: 348px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

@media (min-width: 768px) {}

@media (min-width: 1010px) {

    .section-projects--content .card {
        height: 470px;

    }

}

.section-projects--content .card img{
    width: 100%;

}

@media (min-width: 768px) {}

@media (min-width: 1010px) {

    .section-projects--content .card img {
        height: 221.69px;

    }

}

.section-projects--content .card .card-title {
    color: #222222;
    font-size: 2rem;

}

@media (min-width: 530px) {

    .section-projects--content .card .card-title {
        font-size: 1.9rem;

    }

}

@media (min-width: 768px) {

    .section-projects--content .card .card-title {
        font-size: 1.8rem;

    }

}

@media (min-width: 1010px) {

    .section-projects--content .card .card-title {
        font-size: 1.6rem;

    }

}

.section-projects--content .card .card-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;

}

@media (min-width: 1010px) {

    .section-projects--content .card .card-content {
        min-height: 0;

    }

}

.section-projects--content .card .card-content p {
    font-size: 2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

}

@media (min-width: 530px) {

    .section-projects--content .card .card-content p {
        font-size: 1.6rem;

    }

}

@media (min-width: 768px) {

    .section-projects--content .card .card-content p {
        font-size: 1.4rem;
        line-height: 1.8rem;

    }

}

@media (min-width: 1010px) {

    .section-projects--content .card .card-content p {
        font-size: 1rem;
        line-height: 1.2rem;

    }

}

.section-projects--content .card .built-with-list{
    margin: 1rem 0 0 0;

}

.section-projects--content .card .built-with-list li {
    color: #4d4d4d;
    display: inline;
    padding: 5px;
    border-radius: 0px;
    background: #fff;
    border: 1px solid #4d4d4d;

}

.section-projects--content .card .card-action {
    width: 100%;
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.section-projects--content .card .card-buttons{
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0.5rem 0;

}

.section-about {
  background: #eef2f3;
}

.section-about--content{
    padding: 3rem 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.section-about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

@media (min-width: 1010px) {

    .section-about .about-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 55rem;

    }

}

.section-about p {
    font-size: fontSizeSmall;
    letter-spacing: 1px;
    line-height: 3rem;

}

@media (min-width: 530px) {

    .section-about p {
        font-size: 1.6rem;

    }

}

@media (min-width: 768px) {

    .section-about p {
        font-size: 1.4rem;
        line-height: 1.8rem;

    }

}

@media (min-width: 1010px) {

    .section-about p {
        font-size: 1rem;
        line-height: 1.2rem;

    }

}

.section-about img{
    width: 239.25px;
    height: 247.95px;
    margin: 2rem 2rem;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

}

@media (min-width: 768px) {

    .section-about img {
        width: 179.44px;
        height: 185.59px;

    }

}

.section-contact {
  background: #fff;
  padding: 3rem 7rem;


}

.section-contact .input-field input[type]:focus + label {
    color: #ef5350;

}

.section-contact .input-field input[type]:focus {
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;

}

.section-contact .input-field .prefix.active {
    color: #ef5350;

}

.section-contact .input-field .materialize-textarea:focus{
    box-shadow: 0 1px 0 0 #ef5350;
    border-bottom: 1px solid #ef5350;

}

.section-contact .input-field .materialize-textarea:focus + label {
    color: #ef5350;

}

.section-contact .btn-form-send i{
    display: none;

}

@media (min-width: 1010px) {

    .section-contact .btn-form-send i {
        display: block;

    }

}

.page-footer{
  color: #4d4d4d;
  padding: 1rem 0;
  background: rgba(242,69,69,1);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(230,230,230,1)));
  background: -webkit-linear-gradient(-45deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  background: linear-gradient(135deg, rgba(128,128,128,1) 0%, rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24545', endColorstr='#ebc18d', GradientType=1 );

}
