
/*Colours*/
/*Font-sizes*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}
body ::-moz-selection {
    background: #ef5350;

}
body ::selection {
    background: #ef5350;

}
.no-scroll {
  overflow: hidden;
}
h1, h3 {
  margin: 0;
}
ul {
  margin: 0;
}
li {
    list-style: none;
}
button {
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    border: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}
p, button, li, h4 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}
@media (min-width: 1010px) {
    p, button, li, h4 {
        font-size: 1.1rem;

    }

}
/*For each section title*/
.section-title {
  margin: 3rem 0;
  font-size: 3rem;
  text-align: center;
  color: #4d4d4d;
}
@media (min-width: 1010px) {
    .section-title {
        font-size: 1.75rem;
        margin: 1rem 0;
        width: 100%;

    }

}
/*BUTTONS FOR PROJECT SECTION*/
.card-buttons {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #000;
  text-align: center;

}
.card-buttons .btn-flat{
    height: 60px;
    font-size: 2.5rem;

}
@media (min-width: 1010px) {
    .card-buttons .btn-flat {
        height: 36px;
        font-size: 1.2rem;

    }

}
.card-buttons .btn-demo{
    border: 1px solid #000 ;
    color: #222222 !important;

}
.card-buttons .btn-demo:hover {
    background:#222222;
    color: #ffffff !important;

}
.card-buttons a.btn-github {
    border: 1px solid #ef5350;
    color: #ef5350 !important;
    margin-right: 0 !important;
    padding: 0 1.6rem;

}
.card-buttons a.btn-github:hover {
    background:#ef5350;
    color: #ffffff !important;

}
/*BUTTON FOR CONTACT FORM*/
.btn-form-send{
    width: 100%;
    height: 5rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 2rem 0;
    font-size: fontSizeSmall;
    color: #9e9e9e;
    border: 1px solid #9e9e9e;
}
.btn-form-send:hover {
    color: #ef5350;
    border-color: #ef5350;

}
@media (min-width: 1010px) {
    .btn-form-send {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        margin: 0;

    }

}
.nav-button {
  background: #4d4d4d;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.28);
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  visibility: none;
  z-index: 5;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);

}
@media (min-width: 1010px) {
    .nav-button {
        display: none;

    }

}
.nav-button::before {
    content: " ";
    position: absolute;
    top: 37px;
    left: 35px;
    width: 50px;
    height: 5px;
    background-color: #ffffff;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

}
.nav-button__bar {
    position: absolute;
    top: 58px;
    left: 35px;
    width: 50px;
    height: 5px;
    max-width: 50px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;

}
.nav-button__bar--is-active {
    -webkit-transform: scale(0.15);
            transform: scale(0.15);

}
.nav-button::after {
    content: "";
    position: absolute;
    bottom: 37px;
    left: 35px;
    width: 50px;
    height: 5px;
    background-color: #ffffff;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

}
.nav-button--is-hidden {
    -webkit-transform: scale(0);
            transform: scale(0);

}
/*CLOSE MENU BUTTON*/
.nav-button--close-x {
    box-shadow: none;

}
.nav-button--close-x::before{
    -webkit-transform: rotate(45deg) scaleX(1.25);
            transform: rotate(45deg) scaleX(1.25);

}
.nav-button--close-x .nav-button__bar{
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);

}
.nav-button--close-x::after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);

}
.nav-button__expanded{
    background: #4d4d4d;
    height: 102rem;
    width: 102rem;
    border-radius: 50%;
    position: fixed;
    right: -715px;
    bottom: -650px;
    -webkit-transition: opacity .3s ease, -webkit-transform .15s ease-in-out;
    transition: opacity .3s ease, -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .3s ease;
    transition: transform .15s ease-in-out, opacity .3s ease, -webkit-transform .15s ease-in-out;
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);

}
.nav-button__expanded ul{
    position: absolute;
    padding: 60px;
    left: 300px;
    top: 190px;

}
.nav-button__expanded li{
    text-align: center;
    font-size: 3.5rem;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 30px;
    position:relative;

}
.nav-button__expanded li.nav-item-1 {
    left: 75px;

}
.nav-button__expanded li.nav-item-2 {
    left: 0px;

}
.nav-button__expanded li.nav-item-3 {
    right: 75px;

}
.nav-button__expanded li.nav-item-4 {
    right: 150px;

}
.nav-button__expanded--is-active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;

}
.nav-bar-container{
  position: absolute;
  bottom: 5%;
}
.nav-bar-container .icons-container{
    margin-bottom: 1.5rem;

}
.nav-bar-container .icons-container .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.nav-bar-container .icons-container .icons .icon{
    -webkit-transform: scale(4);
            transform: scale(4);

}
@media (min-width: 768px) {
    .nav-bar-container .icons-container .icons .icon {
        -webkit-transform: scale(2);
                transform: scale(2);
        margin: 3rem;

    }

}
@media (min-width: 1010px) {
    .nav-bar-container .icons-container .icons .icon {
        -webkit-transform: scale(1);
                transform: scale(1);
        margin: 1rem;

    }

}
.nav-bar-container .icons-container .icons .icon:hover{
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;

}
.nav-bar-container .nav-bar{
    border-top: 2px solid #4d4d4d;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.nav-bar-container .nav-bar ul li{
    display: inline-block;
    font-size: 4rem;
    color: black;
    margin: 2rem 2rem;
    cursor: pointer;

}
@media (min-width: 768px) {
    .nav-bar-container .nav-bar ul li {
        font-size: 2.5rem;

    }

}
@media (min-width: 1010px) {
    .nav-bar-container .nav-bar ul li {
        font-size: 1.5rem;

    }

}
.nav-bar-container .nav-bar ul li:after{
    display: block;
    content: '';
    border-bottom: solid 2px #000;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    -webkit-transform-origin:  0% 50%;
            transform-origin:  0% 50%;

}
.nav-bar-container .nav-bar ul li:hover{
    cursor: pointer;

}
.nav-bar-container .nav-bar ul li:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);

}
.nav-bar-container .nav-bar ul li:after{
    -webkit-transform-origin:  0% 50%;
            transform-origin:  0% 50%;

}
.nav-bar-container .nav-bar ul a{
    padding: 0;

}
.section-banner {
  height: 110rem;
  background: #eef2f3;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1010px) {
    .section-banner {
        height: 100vh;

    }

}
.section-banner canvas {
    display: none;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;

}
@media (min-width: 1010px) {
    .section-banner canvas {
        display: block;

    }

}
.section-banner--center {
    padding: 0 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 7;

}
@media (min-width: 1010px) {
    .section-banner--center {
        margin-top: 0;
        padding: 3rem 7rem;

    }

}
.section-banner .header-container {
    margin-top: 6rem;

}
.section-banner .header-container .logo {
    width: 200px;
    height: 200px;
    z-index: 5;

}
.section-banner .header-container h1 {
    color: $ darkGray;
    font-size: 4.8rem;
    z-index: 7;
    visibility: none;

}
@media (min-width: 1010px) {
    .section-banner .header-container h1 {
        font-size: 2.6rem;
        color: $ darkGray;
        letter-spacing: 4px;

    }

}
.section-banner .header-container h2 {
    color: $ darkGray;
    font-size: 2.6rem;
    font-weight: 100;
    margin-top: 1rem;
    font-weight: bold;
    z-index: 7;

}
@media (min-width: 1010px) {
    .section-banner .header-container h2 {
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: 2px;
        color: $ darkGray;
        letter-spacing: 10px;

    }

}
.section-banner p {
    font-size: 2.4rem;
    color: #ffffff;
    width: 650px;

}
.section-skills {
  background: #ef9a9a;
  color: #4d4d4d;

}
.section-skills--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;

}
@media (min-width: 2100px) {
    .section-skills--content {
        padding: 3rem 7rem;

    }

}
.section-skills--content ul {
    margin-top: 3rem;
    text-align: center;

}
.section-skills--content li:first-child{
    font-size: 2.5rem;

}
@media (min-width: 1010px) {
    .section-skills--content li:first-child {
        font-size: 1.6rem;

    }

}
.section-skills--content li {
    font-size: 2rem;
    padding: 2px 10px;
    margin: 10px 20px;

}
@media (min-width: 768px) {
    .section-skills--content li {
        font-size: 1.6rem;

    }

}
@media (min-width: 1010px) {
    .section-skills--content li {
        font-size: 1.2rem;

    }

}
.section-skills--content .skills-divider {
    border-bottom: 1px solid #4d4d4d;
    margin: auto auto;
    width: 95%;

}
@media (min-width: 1010px) {
    .section-skills--content .skills-divider {
        width: 85%;

    }

}
.section-projects {
  background: #E0E0E0;
}
.section-projects--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;

}
@media (min-width: 2100px) {
    .section-projects--content {
        padding: 3rem 7rem;

    }

}
.section-projects--content div{
    padding: 0 0;

}
.section-projects--content .card {
    margin: 2.5rem 2rem;
    min-height: 500px;

}
.section-projects--content .card .card-title {
    color: #222222;
    font-size: 3rem;

}
@media (min-width: 1010px) {
    .section-projects--content .card .card-title {
        font-size: 1.6rem;

    }

}
.section-projects--content .card .card-content {
    position: relative;

}
.section-projects--content .card .card-content p {
    font-size: 2rem;

}
@media (min-width: 1010px) {
    .section-projects--content .card .card-content p {
        font-size: 1.2rem;

    }

}
.section-projects--content .card .card-content ul {}
.section-projects--content .card .card-action {
    position: absolute;
    bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;

}
.section-projects--content .card .built-with-list{
    margin-top: 1rem;

}
.section-projects--content .card .built-with-list li {
    color: #ffffff;
    display: inline;
    padding: 5px;
    border-radius: 0px;
    background: rgba(239,83,80,0.8);
    box-shadow: 5px;

}
.section-projects--content .card .card-buttons {}
.section-about {
  background: #eef2f3;
}
.section-about--content{
    padding: 3rem 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.section-about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
@media (min-width: 1010px) {
    .section-about .about-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 55rem;

    }

}
.section-about p {
    font-size: fontSizeSmall;
    letter-spacing: 1px;
    line-height: 3rem;

}
@media (min-width: 1010px) {
    .section-about p {
        font-size: fontSizeLarge;
        line-height: 1.5rem;
        font-size: 1.125rem;

    }

}
.section-about img{
    width: 239.25px;
    height: 247.95px;
    margin: 2rem 2rem;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

}
@media (min-width: 1010px) {
    .section-about img {
        width: 179.44px;
        height: 185.59px;

    }

}
.section-contact {
  background: #ffffff;
  padding: 3rem 7rem;


}
.section-contact .input-field input[type]:focus + label {
    color: #ef5350;

}
.section-contact .input-field input[type]:focus {
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;

}
.section-contact .input-field .prefix.active {
    color: #ef5350;

}
.section-contact .input-field .materialize-textarea:focus{
    box-shadow: 0 1px 0 0 #ef5350;
    border-bottom: 1px solid #ef5350;

}
.section-contact .input-field .materialize-textarea:focus + label {
    color: #ef5350;

}
.section-contact .btn-form-send:focus{
    background: #eef2f3;

}
.section-contact .btn-form-send i{
    display: none;

}
@media (min-width: 1010px) {
    .section-contact .btn-form-send i {
        display: block;

    }

}
.page-footer{
  color: #4d4d4d;
  padding: 1rem 0;

}
