
/*Colours*/
/*Font-sizes*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  
}
body ::-moz-selection {
    background: #ef5350;
  
}
body ::selection {
    background: #ef5350;
  
}
.no-scroll {
  overflow: hidden;
}
h1, h3 {
  margin: 0;
}
ul {
  margin: 0;
}
li {
    list-style: none;
}
button {
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    border: none;
}
a {
  padding: 10px 25px;
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}
p, button, li, h4 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}
@media (min-width: 1010px) {
    p, button, li, h4 {
        font-size: 1.25rem;
  
    }
  
}
.section-title {
  margin: 3rem 0;
  font-size: 3rem;
  text-align: center;
  color: #4d4d4d;
}
@media (min-width: 1010px) {
    .section-title {
        font-size: 1.75rem;
        margin: 1rem 0;
        width: 100%;
  
    }
  
}
.btn-project {
  border: 2px solid #222222;
  width: 200px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 2rem 0;
  }
.btn-project:hover {
    background:#222222;
    color: #eef2f3;
  
}
@media (min-width: 1010px) {
    .btn-project {
        font-size: 1rem;
        margin: 2rem 1rem;
  
    }
  
}
.btn-github {
    border: 2px solid #ef5350;


}
.btn-github:hover {
    background: #ef5350;
    color: #eef2f3;
  
}
.btn-contact{
    border: 2px solid #ef5350;
    width: 200px;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 3rem 0;
}
.btn-contact:hover {
    background:#ef5350;
    color: #eef2f3;
  
}
.nav-button {
  background: #4d4d4d;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.28);
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  visibility: none;
  z-index: 5;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);

}
@media (min-width: 1010px) {
    .nav-button {
        display: none;
  
    }
  
}
.nav-button::before {
    content: " ";
    position: absolute;
    top: 37px;
    left: 35px;
    width: 50px;
    height: 5px;
    background-color: #eef2f3;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  
}
.nav-button__bar {
    position: absolute;
    top: 58px;
    left: 35px;
    width: 50px;
    height: 5px;
    max-width: 50px;
    background-color: #eef2f3;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  
}
.nav-button__bar--is-active {
    -webkit-transform: scale(0.15);
            transform: scale(0.15);
  
}
.nav-button::after {
    content: "";
    position: absolute;
    bottom: 37px;
    left: 35px;
    width: 50px;
    height: 5px;
    background-color: #eef2f3;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  
}
.nav-button--is-hidden {
    -webkit-transform: scale(0);
            transform: scale(0);
  
}
/*CLOSE MENU BUTTON*/
.nav-button--close-x {
    box-shadow: none;
  
}
.nav-button--close-x::before{
    -webkit-transform: rotate(45deg) scaleX(1.25);
            transform: rotate(45deg) scaleX(1.25);
  
}
.nav-button--close-x .nav-button__bar{
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  
}
.nav-button--close-x::after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
  
}
.nav-button__expanded{
    background: #4d4d4d;
    height: 102rem;
    width: 102rem;
    border-radius: 50%;
    position: fixed;
    right: -715px;
    bottom: -650px;
    -webkit-transition: opacity .3s ease, -webkit-transform .15s ease-in-out;
    transition: opacity .3s ease, -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out, opacity .3s ease;
    transition: transform .15s ease-in-out, opacity .3s ease, -webkit-transform .15s ease-in-out;
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  
}
.nav-button__expanded ul{
    position: absolute;
    padding: 60px;
    left: 300px;
    top: 190px;
  
}
.nav-button__expanded li{
    text-align: center;
    font-size: 3.5rem;
    color: #eef2f3;
    border: 3px solid #eef2f3;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px 30px;
    position:relative;
  
}
.nav-button__expanded li.nav-item-1 {
    left: 75px;
  
}
.nav-button__expanded li.nav-item-2 {
    left: 0px;
  
}
.nav-button__expanded li.nav-item-3 {
    right: 75px;
  
}
.nav-button__expanded li.nav-item-4 {
    right: 150px;
  
}
.nav-button__expanded--is-active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  
}
.section-banner {
  height: 100rem;
  background: #eef2f3;
  z-index: 0;

}
@media (min-width: 1010px) {
    .section-banner {
        height: 100vh;
        background-image: url('../../assets/images/overlay.png'), url('../../assets/images/banner.jpg');
        background-size: cover;
        background-position: center 80%;
  
    }
  
}
.section-banner canvas {
    position: absolute;
    top: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 4;
    background-color: #eef2f3;
    opacity: 1;
    /*FILL with background color*/
  
}
.section-banner--center {
    padding: 0rem 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 7;
  
}
@media (min-width: 1010px) {
    .section-banner--center {
        margin-top: 0;
        padding: 6rem 7rem;
  
    }
  
}
.section-banner .logo {
    width: 200px;
    height: 200px;
    z-index: 5;
  
}
.section-banner h1 {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 4.8rem;
    z-index: 7;
    visibility: none;
  
}
@media (min-width: 1010px) {
    .section-banner h1 {
        font-size: 3.2rem;
        color: #4d4d4d;
        letter-spacing: 4px;
  
    }
  
}
.section-banner h2 {
    color: #4d4d4d;
    font-size: 2.6rem;
    margin-top: 1rem;
    font-weight: 100;
    z-index: 7;
  
}
@media (min-width: 1010px) {
    .section-banner h2 {
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #4d4d4d;
        letter-spacing: 4px;
  
    }
  
}
.section-banner p {
    font-size: 2.4rem;
    color: #eef2f3;
    width: 650px;
  
}
.section-banner ul {
    margin-top: 2rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  
}
.section-banner ul li {
    color: #4d4d4d;
    -webkit-transition: color .2s;
    transition: color .2s;
    z-index: 5;
  
}
.section-banner ul li:hover {
    color: #ef5350;
    cursor: pointer;
  
}
.section-banner ul li img {
    -webkit-transform: scale(2);
            transform: scale(2);
    z-index: 7;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  
}
.section-banner ul li img:hover {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  
}
@media (min-width: 1010px) {
    .section-banner ul li img {
        -webkit-transform: none;
                transform: none;
  
    }
  
}
@media (min-width: 1010px) {
    .section-banner ul li {
        color: #eef2f3;
  
    }
  
}
.section-banner--button{
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-align: center;
    padding-bottom: 1rem;
  
}
.section-banner--button button {
    border: 1px solid white;
    font-size: 2.4rem;
    width: 100px;
    height: 100px;
    display: none;
  
}
.section-about {
  height: 40rem;
  background: #eef2f3;
}
@media (min-width: 1010px) {
    .section-about {
        height: 25rem;
  
    }
  
}
.section-about--content{
    padding: 3rem 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
}
.section-about p {
    font-size: 1.125rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
  
}
@media (min-width: 1010px) {
    .section-about p {
        width: 42rem;
  
    }
  
}
.section-skills {
  background: #ef9a9a;

}
.section-skills--content {
    padding: 7rem 7rem;
  
}
@media (min-width: 1010px) {
    .section-skills--content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
  
    }
  
}
.section-skills--content ul {
    padding-top: 3rem;
    color: #4d4d4d;
    width: 35rem;
    text-align: center;
  
}
.section-skills--content li {
    display: inline-block;
    padding: 2px 10px;
    margin: 10px 20px;
    border: 2px solid #4d4d4d;
  
}
.section-projects--content {
    padding: 3rem 7rem;
  
}
@media (min-width: 1010px) {
    .section-projects--content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  
    }
  
}
.section-projects--project-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  
}
@media (min-width: 1010px) {
    .section-projects--project-title {
        font-size: 1.4rem;
        margin-top: 0;
  
    }
  
}
.section-projects--article {
    padding: 5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
}
@media (min-width: 800px) {
    .section-projects--article {
        width: 20rem;
        border-radius: 5px;
        background: #eef2f3;
  
    }
  
}
@media (min-width: 1010px) {
    .section-projects--article {
        width: 25rem;
        padding: 2rem;
        margin: 2rem 0.2rem;
        box-shadow: 0 0.0375em 0.125em 0 rgba(0,0,0,.15);
  
    }
  
}
@media (min-width: 2100px) {
    .section-projects--article {
        width: 35rem;
  
    }
  
}
.section-projects--article img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}
@media (min-width: 1010px) {
    .section-projects--article img {
        width: 25rem;
        height: 17rem;
        box-shadow: none;
  
    }
  
}
.section-projects--article p {
    margin: 3rem 1rem;
    font-size: 1.125rem;
  
}
@media (min-width: 1010px) {
    .section-projects--article p {
        max-width: 30rem;
        margin: 2rem 0;
        font-size: 1.125rem;
  
    }
  
}
@media (min-width: 1010px) {}
.section-contact--content {
    padding: 3rem 7rem;
  
}
@media (min-width: 1010px) {
    .section-contact--content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
  
    }
  
}
.section-contact--content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #bdbdbd;
  
}
@media (min-width: 1010px) {
    .section-contact--content form {
        box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 2rem;
        width: 40rem;
        height: 25rem;
  
    }
  
}
@media (min-width: 2100px) {
    .section-contact--content form {
        width: 44rem;
  
    }
  
}
.section-contact--content label:first-child{
    margin-top: 2rem;
  
}
.section-contact--content label {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    color: #4d4d4d;
  
}
@media (min-width: 1010px) {
    .section-contact--content label {
        font-size: 1.4rem;
  
    }
  
}
@media (min-width: 2100px) {
    .section-contact--content label {
        font-size: 1.2rem;
  
    }
  
}
.section-contact--content input {
    margin-bottom: 3rem;
    height: 1.3rem;
  
}
@media (min-width: 1010px) {
    .section-contact--content input {
        height: .7rem;
  
    }
  
}
.section-contact--content textarea {
    resize: none;
    overflow: hidden;
    min-height: 3rem;
  
}
@media (min-width: 1010px) {}
.section-contact--content input, .section-contact--content textarea {
    font-size: 2.4rem;
    padding: 10px 20px 15px 0;
    border: none;
    border-bottom: solid 2px #4d4d4d;
    background: transparent;
  
}
@media (min-width: 1010px) {
    .section-contact--content input, .section-contact--content textarea {
        font-size: 1.125rem;
  
    }
  
}
.section-contact--content input:focus, .section-contact--content textarea:focus {
    outline: none;
    border-bottom-color: #ef5350;
    box-shadow: inset 0 -1px 0 0 #ef5350;
  
}
.section-contact--content ::-webkit-input-placeholder {
    font-size: 1.125rem;
  
}
.section-contact--content ::-moz-placeholder {
    font-size: 1.125rem;
  
}
.section-contact--content :-ms-input-placeholder {
    font-size: 1.125rem;
  
}
.section-contact--content ::placeholder {
    font-size: 1.125rem;
  
}
@media (min-width: 1010px) {
    footer {
        height: 3rem;
  
    }
  
}
footer p{
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
    color: rgba(0, 0, 0, 0.3);
  
}
@media (min-width: 1010px) {
    footer p {
        font-size: 1rem;
  
    }
  
}
