/*BUTTONS FOR PROJECT SECTION*/
.card-buttons {
  transition: all .2s ease;
  color: #000;
  text-align: center;

  .btn-flat{
    height: 60px;
    font-size: 2.5rem;
    

    @mixin atSmall{
      height: 50px;
      font-size: 1.75rem;
    }

    @mixin atMedium{
      height: 40px;
      font-size: 1.4rem;
    }

    @mixin atLarge{
      height: 36px;
      font-size: 1rem;
    }
  }


  .btn-demo{
    border: 1px solid $btn-colour-one ;
    color: $btn-colour-one !important;
    background: transparent;

    @mixin atLarge{
    color: $btn-colour-one !important;
    background:transparent;

    }

    &:hover {
      background:$btn-colour-one;
      color: $almostWhite !important;
    }

  }

  

  a.btn-github {
    border: 1px solid $btn-colour-two;
    margin-right: 0 !important;
    padding: 0 1.6rem;
    background: transparent;
    color: $btn-colour-two !important;

    &:hover {
      background:$btn-colour-two;
      color: $almostWhite !important;
    }
  }


}


/*BUTTON FOR CONTACT FORM*/
.btn-form-send{
    width: 100%;
    height: 5rem;
    transition: all .2s;
    margin: 2rem 0;
    font-size: fontSizeSmall;
    color: $formLabelColor;
    border: 1px solid $formLabelColor;
    background: transparent;

    &:hover {
      color: $accent-colour;
      border-color: $accent-colour;
    }

    .section-contact &:focus {
      background: $almostWhite;
    }
    @mixin atLarge {
      width: 10rem;
      height: 3.4rem;
      font-size: $fontSizeLarge;
      margin: 0;
    }
}

.form-submitted{
  color: $accent-colour;
  border-color: $accent-colour;
  cursor: default;
  pointer-events:none;
}
