.nav-bar-container {
  margin: 1rem auto;

  /* ICONS */

  #linkedin-icon {
    fill: #222;
  }

  .icons-container {
    margin-bottom: 1.5rem;

    .icons {
      display: flex;
      justify-content: center;

      .icon {
        transform: scale(2);

        @mixin atSmall {
          transform: scale(2);
          margin: 3rem;
        }

        @mixin atMedium {
          transform: scale(2);
          margin: 3rem;
        }

        @mixin atLarge {
          transform: scale(1);
          margin: 1rem;
        }
      }

      .icon:nth-child(1) {
        animation: fadein-icons 1.8s ease;
      }
      .icon:nth-child(2) {
        animation: fadein-icons 2s ease;
      }
      .icon:nth-child(3) {
        animation: fadein-icons 2.2s ease;
      }
    }
  }

  .nav-bar {
    border-top: 2px solid $home-section-font-color;
    position: relative;
    user-select: none;

    ul {
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        font-size: 2.4rem;
        margin: 2rem 2rem;
        cursor: pointer;

        @mixin atSmall {
          font-size: 2.2rem;
        }

        @mixin atMedium {
          font-size: 2rem;
        }

        @mixin atLarge {
          font-size: 1.4rem;
        }
      }

      li:after {
        display: block;
        content: '';
        border-bottom: solid 2px $home-section-font-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
      }
      li:hover {
        cursor: pointer;
      }

      li:hover:after {
        transform: scaleX(1);
      }

      li:after {
        transform-origin: 0% 50%;
      }

      a {
        padding: 0;
        color: $home-section-font-color;
      }
    }
  }
}

@keyframes fadein-icons {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(1);
  }
}
