
.nav-bar-container{
  position: absolute;
  bottom: 5%;


  .icons-container{
    margin-bottom: 1.5rem;

    .icons {
      display: flex;
      justify-content: center;

      .icon{
        transform: scale(4);

        @mixin atSmall {
          transform: scale(2);
          margin: 3rem;
        }

        @mixin atLarge{
          transform: scale(1);
          margin: 1rem;
        }
      }
        .icon:hover{
          transform: translateY(5px);
          transition: transform .2s ease-in;
        }
    }
  }

  .nav-bar{
    border-top: 2px solid $darkGray;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    ul{
      li{
        display: inline-block;
        font-size: 4rem;
        color: black;
        margin: 2rem 2rem;
        cursor: pointer;

        @mixin atSmall{
          font-size: 2rem;
        }

        @mixin atMedium{
          font-size: 1.5rem;
        }

      }

      li:after{
        display: block;
        content: '';
        border-bottom: solid 2px #000;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin:  0% 50%;
      }
      li:hover{
        cursor: pointer;
      }

      li:hover:after {
        transform: scaleX(1);
      }

      li:after{
        transform-origin:  0% 50%;
      }

      a{
        padding: 0;
      }
    }
  }
}
