.section-contact {
  height: 150rem;

  @mixin atLarge {
    height: 70rem;
  }


  &--content {
      padding: 3rem 7rem;

    @mixin atLarge {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


      form {
        display: flex;
        justify-content:center;
        flex-direction: column;


        @mixin atLarge {
          box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          padding: 2rem;
        }
        @mixin atXLarge {
          width: 44rem;
          padding: 1rem;
        }
      }

      label:first-child{
        margin-top: 2rem;
      }

      label {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
        color: $darkGray;

        @mixin atLarge {
          font-size: 1.4rem;
        }

        @mixin atXLarge{
          font-size: 1.2rem;
        }
      }

      input {
        margin-bottom: 3rem;
        height: 6rem;

        @mixin atLarge {
          height: 1.5rem;

        }
      }

      textarea {
      resize: none;
          @mixin atLarge {
            height: 20rem;
          }
      }

      input, textarea {
        font-size: 2.4rem;
        color: $almostWhite;
        padding: 20px 20px;
        border: solid 2px rgba(255, 255, 255, 0.125);
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.15);

        @mixin atLarge {
          font-size: 1.125rem;
        }
      }

      input:focus, textarea:focus {
        border: 3px solid $accentColour;
      }

      button {
        font-size: 2.4rem;
        color: $almostWhite;
        margin-top: 5rem;
        padding: 20px 20px;
        border: solid 2px rgba(255, 255, 255, 0.125);
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.15);

        @mixin atLarge {
          font-size: 1.4rem;
          width: 30%;

        }

      }


  }
}
