.section-about {
  height: 40rem;
  background: $almostWhite;


  @mixin atLarge {
    height: 25rem;
  }


  &--content{
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 1.125rem;

    @mixin atLarge {
      width: 42rem;
    }
  }
}
