.section-skills {
  background: $lightRed;



  &--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;

    @mixin atXLarge{
      padding: 3rem 7rem;
    }



    ul {
      margin-top: 3rem;
      color: $darkGray;
      text-align: center;
    }

    h4{
      font-size: 1.5rem;
    }

    li, h4 {
      padding: 2px 10px;
      margin: 10px 20px;
    }

    .skills-divider {
      border-bottom: 1px solid $darkGray;
      margin: auto auto;
      width: 95%;

      @mixin atLarge{
        width: 85%;
      }
    }

  }

}
