.section-about {
  background: $veryLightGray;


  @mixin atLarge {

  }


  &--content{
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @mixin atLarge{
      flex-direction: row;
      width: 55rem;
    }
  }

  p {
    font-size: fontSizeSmall;
    letter-spacing: 1px;
    line-height: 3rem;


    @mixin atLarge {
      font-size: fontSizeLarge;
      line-height: 1.5rem;
      font-size: 1.125rem;
    }
  }

  img{
    width: 239.25px;
    height: 247.95px;
    margin: 2rem 2rem;
    filter: grayscale(100%);
  }
}
