.section-about {
  height: 106rem;
  background: $almostWhite;


  @mixin atLarge {
    height: 25rem;
  }


  &--content{
    padding: 3rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    width: 40rem;
    font-size: 1.125rem;
  }
}
