.section-banner {
  background: $veryLightGray;
  z-index: 0;
  display: flex;
  justify-content: center;
  position: relative;


  @mixin atLarge{
    height: 100vh;
  }

  canvas {
    display: none;
    position: absolute;
    top: 0;
    user-select: none;
    z-index: 1;


    @mixin atLarge {
      display: block;
    }
  }


  &--center {
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 7;

      @mixin atLarge {
        margin-top: 0;
        padding: 3rem 7rem;
      }

  }

  .header-container {
    margin-top: 6rem;
    margin-bottom: 30rem;

    .logo {
      width: 200px;
      height: 200px;
      z-index: 5;
    }

    h1 {
      color: $darkGray;
      font-size: 3rem;
      z-index: 7;

      @mixin atSmall{
        font-size: 3rem;
      }

      @mixin atMedium{
        font-size: 2.6rem;
      }

      @mixin atLarge {
        font-size: 2.6rem;
        letter-spacing: 4px;
      }
    }

    p {
      color: $darkGray;
      font-size: 2.4rem;
      font-weight: 300;
      margin-top: 1rem;
      z-index: 7;

      @mixin atSmall{
        font-size: 2.2rem;
      }

      @mixin atLarge {
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: $ darkGray;
        letter-spacing: 10px;
      }
    }
  }
}
