.section-projects {
  background: $lightGray;

  &--content{
    padding: 1rem 0;

    @mixin atLarge{
      padding: 3rem 7rem;
    }



    .card{
      margin: 2.5rem 2rem;
    }

    .card-action{
      display: flex;
      justify-content: center;

      a{
        margin: 0 1rem;
      }


    }


  }
}
