.section-home {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40rem;
  
  background: rgba(242,69,69,1);
  background: -moz-linear-gradient(-45deg, rgba($gradient-left,1) 0%, rgba($gradient-right,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba($gradient-left,1)), color-stop(100%, rgba($gradient-right,1)));
  background: -webkit-linear-gradient(-45deg, rgba($gradient-left,1) 0%, rgba($gradient-right,1) 100%);
  background: -o-linear-gradient(-45deg, rgba($gradient-left,1) 0%, rgba($gradient-right,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba($gradient-left,1) 0%, rgba($gradient-right,1) 100%);
  background: linear-gradient(135deg, rgba($gradient-left,1) 0%, rgba($gradient-right,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24545', endColorstr='#ebc18d', GradientType=1 );
  

  @media (min-device-width: 320px) and (orientation: portrait){
    height: 100vh;
  }

  @mixin atLarge {
    height: 100vh;
  }

  canvas {
    position: absolute;
    top: 0;
    user-select: none;
    z-index: 1;
    align-self: center;


    @mixin atLarge {
      display: block;
    }
  }


  &--center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 7;
    height: 100%;

      @mixin atLarge {
        margin-top: 0;
        padding: 0 7rem;
      }

  }

  .header-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .logo-container {
      width: 200px;
      height: 200px;
      align-self: center;
    }

    h1 {
      color: $home-section-font-color;
      font-size: 3.4rem;
      z-index: 7;
      text-shadow: 0 1px 2px rgba(0,0,0,0.20);
      animation: fadein 1.4s ease;

      @mixin atSmall{
        font-size: 3.4rem;
      }

      @mixin atMedium{
        font-size: 3.4rem;
      }

      @mixin atLarge {
        font-size: 2.6rem;
        letter-spacing: 4px;
      }
    }

    p {
      color: $home-section-font-color;
      text-shadow: 0 1px 2px rgba(0,0,0,0.20);
      font-size: 2.4rem;
      font-weight: 300;
      margin-top: 1rem;
      z-index: 7;
      animation: fadein 1.6s ease;

      @mixin atSmall{
        font-size: 2.2rem;
      }

      @mixin atLarge {
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: $ darkGray;
        letter-spacing: 10px;
      }
    }
  }
}

@keyframes fadein{
    from {opacity: 0;
    transform: translateY(-100%);
    }
    to {  opacity: 1;
    transform: translateY(1);
    }
}