.section-projects {
  background: $lightGray;




  &--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;
    @mixin atXLarge{
      padding: 3rem 7rem;
    }


    div{
      padding: 0 0;
    }

    .card {
      margin: 2.5rem 2rem;
      min-height: 475px;

      .card-title {
        color: $almostBlack;
      }



      .card-action {
        position: absolute;
        bottom: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 100%;
      }



      .built-with-list{
        margin-top: 1rem;

        li {
        color: $almostWhite;
        display: inline;
        padding: 5px;
        border-radius: 0px;
        background: $lightRed;
        box-shadow: 5px;
        }
      }


      .card-buttons {

      }
    }
  }
}


