.section-contact {
  background: $section-contact-background;
  padding: 3rem 7rem;


  i:not(:last-child){
  }


  .input-field input[type]:focus + label {
    color: $accent-colour;
  }

  .input-field input[type]:focus {
    border-bottom: 1px solid $accent-colour;
    box-shadow: 0 1px 0 0 $accent-colour;
  }

  .input-field .prefix.active {
    color: $accent-colour;
  }

  .input-field .materialize-textarea:focus{
    box-shadow: 0 1px 0 0 $accent-colour;
    border-bottom: 1px solid $accent-colour;
  }

  .input-field .materialize-textarea:focus + label {
    color: $accent-colour;
  }


  .btn-form-send i{
    display: none;

    @mixin atLarge{
      display: block;
    }
  }


}
