.section-contact {
  background: $almostWhite;
  padding: 3rem 7rem;

    h4{
      text-align: center;
    }




  .input-field input[type]:focus + label {
    color: $accentColour;
  }

  .input-field input[type]:focus {
    border-bottom: 1px solid $accentColour;
    box-shadow: 0 1px 0 0 $accentColour;
  }

  .input-field .prefix.active {
    color: $accentColour;
  }

  .input-field .materialize-textarea:focus{
    box-shadow: 0 1px 0 0 $accentColour;
    border-bottom: 1px solid $accentColour;
  }

  .input-field .materialize-textarea:focus + label {
    color: $accentColour;
  }

}
