.section-skills {
  background: $section-skill-background;
  color: #eee;

  &--content{
    padding: 1rem 0;
    max-width: 1600px; 
    width: 90%;

    @mixin atXLarge{
      padding: 3rem 7rem;
    }

    .section-title{
      color: #eee;
    }


    ul {
      margin-top: 3rem;
      text-align: center;
      min-width: 330px;
      
      
    }

    li:first-child{
      font-size: 3rem;
      

      @mixin atSmall{
        font-size: 2rem;
      }

      @mixin atMedium{
        font-size: 2rem;
      }

      @mixin atLarge{
        font-size: 1.6rem;
      }

    }

    li {
      font-size: 2rem;
      padding: 2px 10px;
      margin: 10px 20px;
      text-shadow: 0 1px 2px rgba(0,0,0,0.20);
      

      @mixin atSmall{
        font-size: 1.6rem;
      }

      @mixin atMedium{
        font-size: 1.6rem;
      }

      @mixin atLarge{
        font-size: 1.2rem;
      }
    }

    .skills-divider {
      border-bottom: 1px solid #eee;
      margin: auto auto;
      width: 95%;


      @mixin atLarge{
        width: 85%;
      }
    }

  }

}
