.section-projects {
  background: $lightGray;

  &--content{
    padding: 1rem 0;
    max-width: 1600px;
    width: 90%;
    @mixin atXLarge{
      padding: 3rem 7rem;
    }


    div{
      padding: 0 0;
    }

    .card {
      margin: 2.5rem 2rem;

      .card-action {
        display: flex;
        justify-content: center;

      }

      .card-title {
        /*color: $almostBlack;*/
      }

      .built-with-list{
        margin-top: 1rem;
        li {
        display: inline;
        }
      }

      .card-buttons {
        display: flex;
        justify-content: center;
      }
    }
  }
}


