.section-skills {
  background: $lightRed;



  &--content {
    padding: 7rem 7rem;

    @mixin atLarge {
      display: flex;
      flex-direction: column;
      align-items: center;


    }


    ul {
      padding-top: 3rem;
      color: $darkGray;
      width: 35rem;
      text-align: center;


    }

    li {
      display: inline-block;
      padding: 2px 10px;
      margin: 10px 20px;
      border: 2px solid $darkGray;

    }

  }

}
