/*BUTTONS FOR PROJECT SECTION*/
.section-projects a.btn-flat{
  border: 1px solid $almostBlack;
  margin-right: 0;
  transition: all .2s;
  color: #000;
  text-align: center;

  &:hover {
    background:$almostBlack;
    color: $almostWhite;
  }

    @mixin atLarge {


    }
}



.btn-github {
  border: 1px solid $accentColour;

  &:hover {
    background: $accentColour;
    color: $almostWhite;
  }
}

/*BUTTON FOR CONTACT FORM*/
.btn-form-send{
    border: 4px solid $darkGray;
    width: 100%;
    height: 10rem;
    transition: all .2s;
    margin: 5rem 0;
    font-size: fontSizeSmall;

    &:hover {
      border: 2px solid $accentColour;

    }

    @mixin atLarge {
      width: 10rem;
      height: 3rem;
      font-size: $fontSizeLarge;
      border: 2px solid $darkGray;
      margin: 3rem 0;
    }
}
